
// @import "../fonts/fonts.scss";
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  transition-property: opacity, transform, filter, background-color;
  transition-timing-function: ease-in-out;
  transition-duration: 800ms;
  overflow-x: hidden;
}
h1 {
  font-family: "made_mirage_regular";
}
h2 {
  font-family: "made_mirage_regular";
}
h3 {
  font-family: "made_mirage_regular";
}
h4 {
  font-family: "made_mirage_regular";
}
h5 {
  font-family: "made_mirage_regular";
}
h6 {
  font-family: "made_mirage_regular";
}
a {
  text-decoration: none;
  font-family: "made_mirage_regular";
}
div {
  font-family: "made_mirage_regular";
}
button {
  font-family: "made_mirage_regular";
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "made_mirage_regular";
  li {
    font-family: "made_mirage_regular";
  }
} 

input {
  font-family: "made_mirage_regular";
}
textarea {
  font-family: "made_mirage_regular";
}
